<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://www.weatherapi.com/" title="Free Weather API">
            <img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="slide"></li>
                <li class="nav-item {{navbarActive(location, 'Miami')}}">
                    <a class="nav-link" href="{{path('city', {'city': 'Miami'})}}">Miami <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {{navbarActive(location, 'Orlando')}}">
                    <a class="nav-link" href="{{path('city', {'city': 'Orlando'})}}">Orlando</a>
                </li>
                <li class="nav-item {{navbarActive(location, 'New York')}}">
                    <a class="nav-link" href="{{path('city', {'city': 'New York'})}}">New York</a>
                </li>
            </ul>
        </div>
    </nav>
</header>