.view-error {
    height: calc(100vh - 76px)!important;
}
.view-error h1 {
    font-size: 12rem;
    color: var(--Azul);
}
.view-error h3, .view-error h1 {
    font-weight: bold;
}
.view-error h3, .view-error p {
    color: var(--Azul-Dark);
}