:root {
    --Azul-Dark: #070928;
    --Azul: #3456FF;
    --Gris: #F8F8FA;
}
.btn-primary {
    background-color: var(--Azul);
    border-color: var(--Azul);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--Azul-Dark);
    border-color: var(--Azul-Dark);
}
.text-primary {
    color: var(--Azul);
}

body {
    background-color: var(--Gris);
}
header .bg-light {
    background-color: #fff!important;
}
header .navbar-nav {
    position: relative;
    display: flex;
}
header .navbar-nav .slide {
    position: absolute;
    display: inline-flex;
    height: 5px;
    bottom: 5px;
    transition: 0.5s cubic-bezier(0.23,1,0.32,1.05);
    z-index: 2;
    background-color: #3456FF;
}
header .navbar-nav li a {
    color: var(--Azul-Dark)!important;
    font-weight: bold;
}
.w-25 {
    width: 25%!important;
}
.w-75 {
    width: 75%!important;
}