.main-container {
    transform: translate(0%,0%);
}
.main-container .container {
    position: relative;
    height: auto;
    min-height: 462px;
    background-color: var(--Azul-Dark);
    box-shadow:0 15px 18px rgba(179,179,179,.6);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    z-index: -1;
    font-size:.9rem;
}
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-top: 18%;
}
.layer {
    position: absolute;
    top: 34%;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: .4s ease;
    z-index: -1;
    overflow: hidden;
}
.details{
    text-align: center;
    transition: .4s ease;
    border: 1px solid rgb(60 62 95 / 79%);
    border-radius: 5px;
    background-color: rgb(60 62 95 / 79%);
    overflow: auto;
}
.weather-day {
    background-color: transparent;
    border-width: 0px;
}
.weather-day .card-header, .weather-day .card-body, .weather-day .card-footer {
    padding: 5px 0px;
    border-width: 0px;
    background-color: transparent;
}
.details>.col:hover {
    background-color: var(--Azul-Dark);
    color: #fff;
}
.btn-pronostico {
    transition: .4s ease;
    border-radius: 35px;
    letter-spacing: 2px;
}
.main-container .container:hover .layer{
    height: 100%;
}
.main-container .container:hover .details{
    color:var(--Azul-Dark);
    border-color: var(--Gris);
    background-color: var(--Gris);
}
.main-container .container:hover .btn-pronostico{
    border-color: var(--Azul);
    color: var(--Azul);
    background-color: #fff;
}
.main-container .container .btn-pronostico:hover {
    background-color: var(--Azul);
    color: #fff;
}
.info-city {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50%;
}
.info-city h6 {
    font-weight: normal;
}
.weather-1 {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50%;
}
.detail-city {
    color: var(--Azul-Dark);
}

.detail-city .detail-info i {
    color: var(--Azul);
}
 .detail-city .detail-info div > div:hover, .weather-1, .info-city, .details, .box-info:hover, .box-info:hover i {
    color: #fff;
}
.box-info {
    width: 100%;
    height: 50px;
    position: relative;
    transition: .4s ease;
}
.box-info>div h6 {
    margin-bottom: 0px;
}
.box-info>div:first-child {
    position:absolute;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-info>div:last-child {
    position:absolute;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0px;
}
.box-info:hover {
    background-color: var(--Azul);
}
.box-info i {
    transition: .4s ease;
}
.detail-pronostico {
    overflow: auto;
    display: -webkit-box;
}
.detail-pronostico > div {
    width: 130px;
    padding-right: 15px;
}
.detail-pronostico .weather-day {
    border: 1px solid var(--Azul);
    transition: .4s ease;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.detail-pronostico .weather-day img {
    transition: .4s ease;
    border-radius: 50%;
    border: 3px solid white;
}
.detail-pronostico .weather-day.night:hover {
    background-color: var(--Azul-Dark);
    color: white;
    border-color: var(--Azul-Dark);
}
.detail-pronostico .weather-day.night:hover img {
    background-color: var(--Azul);
}
.detail-pronostico .weather-day.day:hover {
    background-color: var(--Azul);
    color: white;
    border-color: var(--Azul);
}
.detail-pronostico .weather-day.day:hover img {
    background-color: var(--Azul-dark);
}
#mapid { 
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}
@media (max-width: 991px) { 
    body>div>.container, .row, .main-container .container {
        width: 100%;
    }
    body>div>.container {
        margin-left: 20px;
        margin-right: 20px;
        max-width: calc(100% - 40px);
    }
    .row {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }
    .main-container .container {
        max-width: 100%!important;
        min-height: 600px;
    }
    .info-city {
        left: 20px;
    }
    .weather-1 {
        right: 20px;
    }
    .profile-pic {
        margin-top: 11%;
        width: 120px;
        height: 120px;
    }
    .main-container .details>.col {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    body>div>div>div>div:nth-child(2), body>div>div>div>div:last-child() {
        margin-top: 20px;
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .h5, h5 {
        font-size: 2.25rem;
    }
    .h6, h6, .btn {
        font-size: 2rem;
    }
    .h2, h2 {
        font-size: 3rem;
    }
    .weather-day img{
        width: 100px;
    }
    .detail-info > div {
        width: calc(100% / 2);
        max-width: calc(100% / 2);
        flex: 0 0 calc(100% / 2);
    }
    .fa-2x {
        font-size: 3em!important;
    }
    .detail-info small {
        font-size: 1.5rem;
    }
    .h4, h4  {
        font-size: 2.5rem;
    }
    .box-info {
        height: 100px;
    }
    #mapid {
        height: 400px!important;
    }
    .detail-pronostico > div {
        width: 300px;
    }
    .main-container .container:hover .details {
        overflow: auto;
    }
}