{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/error.css')}}">
{% endblock %}

{% block body %}
<div>
    {{ include("partials/header.html.twig") }}
    <div class="d-flex flex-column view-error">
        <div class="container my-auto">
            <div class="text-center">
                <h1>Oops!</h1>
                <h3>404 - PAGE NOT FOUND</h3>
                <p>La información de la ciudad que busca no se encuentra habilitado</p>
                <a href="{{url('index')}}" class="btn btn-primary btn-lg">Ir al inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}