{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('css/weather.css')}}">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}

{% block body %}
<div>
    {{ include("partials/header.html.twig") }}
    
    <div class="container mt-5">
        <div class="row ">
            <div class="col-12 col-lg-5">
                <div class="main-container">
                    <div class="container">
                        <div class="info-city">
                            <h5>{{full_name|raw}}</h5>
                            <h6 class="mb-0 font-weight-bold">{{principal.temp_c}}</h6>
                            <h6 class="mb-0"><small>{{localTime}}</small></h6>
                        </div>
                        <div class="weather-1 text-center">
                            <h5>{{principal.text}}</h5>
                            <h2><i class="fas fa-tint"></i> {{principal.humidity}}</h2>
                        </div>
                        <div class="profile-pic" style="background:url('{{asset(code_condition)}}') 0 1px / cover, #3456ff"></div>
                        <div class="layer"></div>
                        <div class="row details px-1">
                            {{pronosticoDays(pronostico_days, jsonData)|raw}}
                        </div>
                        <div>
                            <button class="btn btn-primary btn-pronostico" onclick="ViewProsnotico()">Pronóstico de hoy</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 px-0">
                <div class="row mx-0 w-100">
                    <div class="col-12 bg-white p-4 rounded">
                        <div class="detail-city">
                            <h6 class="mb-0">El tiempo en {{all_name}} Hoy</h6>
                            <div class="row pt-3 row-cols-3 detail-info">
                                {{currentDetail(current_detail)|raw}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 bg-white mt-3 py-2 rounded">
                        <div id="mapid" data-lat="{{latitud}}" data-long="{{longitud}}"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-white mt-3 py-2 rounded d-none" id="pronostico-current">
                <h6 class="mb-0">Pronóstico de hoy para {{all_name}}</h6>
                <div class="detail-pronostico p-4">
                    {{pronosticoCurrent(pronostico_detail, jsonData)|raw}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<script>
    moveSlideActive();

    $("header .navbar-nav a").on("click", function () {
        var position = $(this).parent().position(),
            width = $(this).parent().width();
        $("header .navbar-nav li").removeClass("active");
        $(this).parent().addClass("active");
        moveSlideActive(position, width);
    });

    window.onresize = function() {
        if($(window).width()<992) {
            setTimeout(function() {
                console.log('resize')
                moveSlideActive();
            }, 500);
        }
    }    
    
    function moveSlideActive(position=false, width=false) {
        if($(window).width()>992) {
            width = width==false ? $("header .navbar-nav li.active").width() : width;
            position = position==false ? $("header .navbar-nav li.active").position() : position;
            $("header .navbar-nav .slide").css({
                left: +position.left,
                width: width
            });
        }else{
            var $el = $("header .navbar-collapse li.active");
            width = width==false ? $el.width() : width;
            bottom = position==false ? +($el.position().top + $el.height()) : +position.top;
            console.log('position',$el.position(), $el.height(), +($el.position().top + $el.height()))
            console.log('mini', width, bottom)
            $("header .navbar-collapse .slide").css({
                bottom: bottom,
                width: width
            });
        }  
    }

    function ViewProsnotico() {
        $('#pronostico-current').removeClass('d-none', );
    }

    $(document).ready(function() {
        var heightCard = $('.main-container').height(),
            heightTiempo = $('.detail-city').parent().height();
        
        $('#mapid').css('height', heightCard-heightTiempo+'px');
        var coordenadas = [parseFloat($('#mapid').attr('data-lat')), parseFloat($('#mapid').attr('data-long'))];
        var mymap = L.map('mapid').setView(coordenadas, 13);


        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);

        L.marker(coordenadas).addTo(mymap);
        
    });
    
</script>
{% endblock %}
